<div class="d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{major.code}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{major.name}}</h6>
            <p class="card-text">{{major.description}}</p>
            <a href="/major/update/{{major._id}}" class="btn btn-warning">Editar</a>
            <a href="/major/remove/{{major._id}}" class="btn btn-danger">Remover</a>
        </div>
    </div>
    <div>
        <a href="/major" class="btn btn-primary">Voltar</a>
    </div>
</div>