<div class="d-flex justify-content-between align-items">
    <h3>Lista de Cursos</h3>
    <div>
        <a href="majors/create" class="btn btn-primary">+</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr style="vertical-align: middle;">
            <th scope="col">Sigla</th>
            <th scope="col">Nome</th>
            <th scope="col" style="text-align: right">Opções</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {{#each majors}}
        <tr style="vertical-align: middle;">
            <th scope="row">{{code}}</th>
            <td>{{name}}</td>
            <td style="text-align: right">
                <a href="majors/read/{{_id}}" class="btn btn-info">ver</a>
                <a href="majors/update/{{_id}}" class="btn btn-warning">Editar</a>
                <a href="majors/remove/{{_id}}" class="btn btn-danger">Remover</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>