<h3>Editar Usuário</h3>
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}
<div class="d-flex justify-content-between">
    <div>
        <a href="/" class="btn btn-danger">Cancelar</a>
    </div>
</div>
<form action="/user/update/{{user.id}}" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
    </div>
    <div class="mb-3">
        <label for="majorId" class="form-label">Curso</label>
        <select class="form-select" id="majorId" name="majorId" required>
            {{#each majors}}
                <option value="{{this.id}}" {{#if (eq this.id ../user.major.id)}}selected{{/if}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>